@import url('https://fonts.googleapis.com/css2?family=REM:wght@300&display=swap');

html, body
{
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 115, 8);
  border-radius: 12px;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  overflow-x: hidden;

}

.telaLogin {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F7941D;
}

.partePrincipal{
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #004A8D;
}

.link{
  text-decoration: none
}

img{
  margin-bottom: 180px;
}
